[submodule "seal/SEAL"]
	path = seal_fhe/SEAL
	url = git@github.com:rickwebiii/SEAL.git
	branch = wasm
[submodule "emsdk/emsdk"]
	path = emsdk/emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "mdBook"]
	path = mdBook
	url = git@github.com:rickwebiii/mdBook.git
[submodule "rust-playground"]
	path = rust-playground
	url = git@github.com:Sunscreen-tech/rust-playground.git
  branch = sunscreen
