[package]
name = "sunscreen_math"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
lazy_static = "1.4.0"
metal = { version = "0.24.0", optional = true }
rand = "0.8.5"
curve25519_dalek = { package = "sunscreen_curve25519", path = "../sunscreen_curve25519", features = ["serde", "u64_backend"], default-features = false }
rayon = "1.6.1"

[features]
default = ["metal", "pina"]
nightly-features = []
metal = ["dep:metal", "gpu"]
gpu = []
pina = []