name: docs-deployment

on:
  push:
    branches: [ docs ]

env:
  CARGO_TERM_COLOR: always

concurrency: docs-production

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'
    - uses: actions/cache@v3
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          mdBook/target
        key: ${{ runner.os }}-cargo-mdbook-${{ hashFiles('mdbook/Cargo.lock') }}
    - name: Build mdBook
      run: cargo build --release
      working-directory: ./mdBook
    - name: Build docs
      run: ../mdBook/target/release/mdbook build
      working-directory: ./sunscreen_docs
    - name: Write to S3
      run: aws s3 cp book s3://sunscreen-docs --recursive
      working-directory: ./sunscreen_docs
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.DOCS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-west-2
    - name: Invalidate Cloudfront
      run: aws cloudfront create-invalidation --distribution-id E250PLIECML3N3 --paths "/*"
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.DOCS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.DOCS_SECRET_ACCESS_KEY }}
        AWS_DEFAULT_REGION: us-west-2